/* ==== 
 --------- (4.6) footer styles start ---------
 ==== */

.footer {
    margin-top: 100px;
}

.footer__content {
    padding: 40px 24px 35px;
    background-color: #f2f8fd;
    text-align: center;

    h1 {
        color: $primary-color;
    }
}

/* ==== 
 --------- (4.6) footer styles end ---------
 ==== */